<div class="page-second-header completed-basics">
    <h2 ng-show="eligibility_progress < 50" class="eligible-for"><%= __("You're eligible for") %></h2>
    <span ng-show="eligibility_progress < 50" class="amount" >${{formData.benefit_amount}}</span>
    <span ng-show="eligibility_progress < 50" class="each-month"><%= __("EACH MONTH") %></span>
    <p ng-show="eligibility_progress < 50" class="sub-text"><%= __("in SNAP benefits.") %></p>
</div>
<h1><%= __("You finished the basics!") %></h1>
<p><%= __("You're ready for the next step, which is answering your SNAP interview questions in advance.") %></p>

<div class="yellow-button" ui-sref="int.main"><%= __("Continue to step 2") %></div>

<app-submitted-dropdown></app-submitted-dropdown>
