<h1>Do you pay for telephone services?</h1>

<input ng-click="goToNextQuickSnap(3);" ng-model="formData.pay_for_telephone" id="pay_for_telephone_yes" type="radio" class="name-input marital-input" value="yes" name="pay_for_telephone"><label
        for="pay_for_telephone_yes">Yes</label>
<br/>
<input ng-click="goToNextQuickSnap(3);" ng-model="formData.pay_for_telephone" id="pay_for_telephone_no" type="radio" class="name-input marital-input" value="no" name="pay_for_telephone"><label
        for="pay_for_telephone_no" >No</label>