<!-- form-telephone.html -->
<h1><%= __("What’s your phone number?") %></h1>
<div class="form-group" ng-class="{'has-success':snapForm.phone.$pristine ,'has-error': !snapForm.phone.$valid}">
    <input class="form-control" type="tel" placeholder="Phone Number" name="phone" id="phone" ng-model="formData.phone_main" ng-pattern="/^1?(?:\([2-9]\d{2}\)\ ?|[2-9]\d{2}(?:\-?|\ ?))[2-9]\d{2}[- ]?\d{4}$/" autofocus="true" ng-required="true"/>
    <span class="help-block" ng-show="submitted_phone && !snapForm.phone.$valid"><%= __("Ten Digit Telephone Number Required") %></span>
</div>

<p><%= __("A phone number is required for submitting your application through easyfoodstamps.com.") %></p>
<button class="yellow-button" ng-class="{'disabled': !snapForm.phone.$valid }" ng-click="completedTelephone()"><%= __("Continue") %></button>
