<h1><%= __("Does your immigration status fall into one of the following categories?") %></h1>
<style>
    li,ul {list-style-type: disc; list-style-position: outside; margin-left:10px; }
</style>
<ul style="margin-bottom:10px;margin-top:-14px;">
    <li><%= __("Legal immigrant since 2009 or earlier") %></li>
    <li><%= __("Refugee") %></li>
    <li><%= __("Non-citizen under 18") %></li>
</ul>
<br/>
<input ng-model="formData.non_citizen" id="non_citizen_yes" type="radio" class="name-input marital-input" value="yes" name="non_citizenship" required><label
        for="non_citizen_yes"><%= __("Yes") %></label>
<br/>
<input ng-model="formData.non_citizen" id="non_citizen_no" type="radio" class="name-input marital-input" value="no" name="non_citizenship"><label
        for="non_citizen_no" ><%= __("No") %></label>
<br/>
<span class="help-block" style="color:red;" ng-show="submitted_non_citizenship && !formData.non_citizen"><%= __("Citizenship selection required.") %></span>


<div class="yellow-button disabled" ng-hide="formData.non_citizen == 'yes' || formData.non_citizen == 'no'"><%= __("Continue") %></div>
<div ng-show="formData.non_citizen == 'yes'" class="yellow-button" ng-click="completedNonCitizenship()"><%= __("Continue") %></div>
<div ng-show="formData.non_citizen == 'no'" class="yellow-button" ui-sref="form.citizenship-false"><%= __("Continue") %></div>
