<h1><%= __("Are you a US Citizen?") %></h1>
<p><%= __("Even if you aren’t a citizen, you might be eligible for benefits. Answering these questions won’t affect your immigration case, even if you're an undocumented immigrant.") %></p>
<br/>
<input ng-model="formData.citizenship" id="us_citizen_yes" type="radio" class="name-input marital-input" value="yes" name="citizenship" required><label
        for="us_citizen_yes"><%= __("Yes") %></label>
<br/>
<input ng-model="formData.citizenship" id="us_citizen_no" type="radio" class="name-input marital-input" value="no" name="citizenship"><label
        for="us_citizen_no" ><%= __("No") %></label>
<br/>
<span class="help-block" style="color:red;" ng-show="submitted_citizenship && !formData.citizenship"><%= __("Citizenship selection required.") %></span>

<div class="yellow-button disabled" ng-hide="formData.citizenship == 'yes' || formData.citizenship == 'no'"><%= __("Continue") %></div>
<div ng-show="formData.citizenship == 'no'" class="yellow-button" ui-sref="form.non-citizen"><%= __("Continue") %></div>
<div ng-show="formData.citizenship == 'yes'" class="yellow-button" ng-click="completedCitizenship()"><%= __("Continue") %></div>
