<h1><%= __("Are you a US Citizen?") %></h1>
<p><%= __("Even if you aren’t a citizen, you might be eligible for benefits. Answering these questions won’t affect your immigration case, even if you're an undocumented immigrant.") %></p>
<br/>
<input ng-model="formData.citizenship" ng-click="updateCurrentAndGoToNext('form.citizenship','form.household');" id="us_citizen_yes" type="radio" class="name-input marital-input" value="yes" name="citizenship" required><label for="us_citizen_yes"><%= __("Yes") %></label>
<br/>
<input ng-model="formData.citizenship" ng-click="updateCurrentAndGoToNext('form.citizenship','form.ineligible');" id="us_citizen_no" type="radio" class="name-input marital-input" value="no" name="citizenship"><label for="us_citizen_no" ><%= __("No") %></label>
