<h1><%= __("How much are your monthly expenses?") %></h1>
<p><%= __("This includes:") %></p>
<style>
    li,ul {list-style-type: disc; list-style-position: outside; margin-left:10px; }
</style>
<ul style="margin-bottom:10px;margin-top:-14px;">
    <li><%= __("Rent") %></li>
    <li><%= __("Utility Bills") %></li>
    <li><%= __("Child Support Payments") %></li>
    <li><%= __("Medical expenses for elderly or disabled household members which are not covered by insurance") %></li>
</ul>

<div class="input-group dollar-input" ng-class="{'has-success':snapForm.expenses.$pristine ,'has-error': snapForm.expenses.$invalid }">
    <input class="form-control" type="number" name="expenses"  id="expenses"
           ng-model="formData.eligibility_expenses" autofocus="true" min="0" required/>
    <span class="help-block"  ng-show="submitted_expenses && snapForm.expenses.$error.min">
            <%= __("Minimum expenses is 0.") %></span>
    <span class="help-block"  ng-show="submitted_expenses && snapForm.expenses.$invalid && !snapForm.expenses.$error.min">
            <%= __("You must enter a number.") %></span>
</div>

<div class="yellow-button" ng-class="{'disabled': snapForm.expenses.$invalid}" ng-click="completedExpenses()"><%= __("Continue") %></div>
