<h1>Are you, or anyone you are applying for, getting SNAP now?</h1>

<input ng-click="goToNextQuickSnap(2);" ng-model="formData.receiving_snap" id="receiving_snap_yes" type="radio" class="name-input marital-input" value="yes" name="receiving_snap"><label
        for="receiving_snap_yes">Yes</label>
<br/>
<input ng-click="goToNextQuickSnap(2);" ng-model="formData.receiving_snap" id="receiving_snap_no" type="radio" class="name-input marital-input" value="no" name="receiving_snap"><label
        for="receiving_snap_no" >No</label>