<h1>Is anyone a widow, spouse, or child (under age 18) of anyone in the
    U.S. military, or anyone who has been in the U.S. military?</h1>

<input ng-click="updateCurrentAndGoToNext('int.in-military-family', 'int.foster-care')" ng-model="user.in_military_family" id="yes_in_military_family" type="radio"
       class="name-input marital-input" value="yes" name="in_military_family"><label for="yes_in_military_family">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.in-military-family', 'int.foster-care')" ng-model="user.in_military_family" id="no_in_military_family" type="radio"
       class="name-input marital-input" value="no" name="in_military_family"><label for="no_in_military_family">No</label>