<h1>Are the people listed below U.S.Citizens or Nationals?</h1>

<div ng-repeat="person in user.household_members track by $index" class="household-ssn" ng-show="person.applying">
    <h6>(( person.name ))</h6>
    <input  ng-model="person.is_citizen" id="is_citizen_yes_(($index))" type="radio"
            class="name-input marital-input" value="yes" name="is_citizen_(($index))"><label for="is_citizen_yes_(($index))">Yes</label>
    <br/>
    <input ng-model="person.is_citizen" id="is_citizen_no_(($index))" type="radio"
           class="name-input marital-input" value="no" name="is_citizen_(($index))"><label for="is_citizen_no_(($index))">No</label>
</div>

<div ng-click="updateCurrentAndGoToNext('int.household-is-citizen', 'int.main'); $emit('int-main','household')" class="yellow-button">Continue</div>