<h1>Please list the income of any child or adult you have listed on this application.</h1>
<p>For example: wages, self-employment, money earned from baby-sitting, worker's compensation, commissions, union pay, 
    pensions, money paid to you for rent, money paid to you for room and board, money paid to you for loans, guardian fees,
    Social Security, Veteran Benefits, support, sick benefits, unemployment, money for training, dividends, Supplemental
    Security Income (SSI), gambling.
    </p>

<div ng-repeat="item in user.incomes track by $index" class="income-list">
    <div style="width:5%">(( $index+1 )).</div>
    <div>(( item.person_name ))</div>
    <div>(( item.type ))</div>
    <div>(( item.amount ))</div>
    <div>(( item.frequency ))</div>
    <div>(( item.recent_date ))</div>

</div>

<br/>

<label for="income_name">Name of Person with income</label>
<input type="text" name="income_name" id="income_name" class="name-input resources-input" ng-model="current_income_name"/>
<br/>
<label for="resource_kind">Kind of income</label>
<input type="text" name="income_kind" id="resource_kind" class="name-input resources-input" ng-model="current_income_kind"/>
<br/>
<label for="total_income">How much?</label>
<div class="input-group dollar-input">
    <input id="total_income" type="number" class="name-input resources-input" name="total_resources" ng-model="current_income_amount">
</div>

<label for="income_frequency">How often?</label>
<input type="text" name="resource_location" id="income_frequency" class="name-input resources-input" ng-model="current_income_frequency"/>

<label for="income_recent_date">Date of most recent payment:</label>
<input type="date" name="resource_location" id="income_recent_date" class="name-input resources-input" ng-model="current_income_recent_date"/>

<div class="yellow-button" style="background-color:#07a7fc" ng-click="addIncome();">Add Income</div>


<div class="yellow-button" ui-sref="int.other-income-worked-90-days">Continue</div>
