<h1>Are any of the following in school?</h1>

<div ng-repeat="person in user.household_members track by $index" class="household-ssn" ng-show="person.applying">
    <h6>(( person.name ))</h6>
    <input  ng-model="person.in_school" id="in_school_yes_(($index))" type="radio"
            class="name-input marital-input" value="yes" name="in_school_(($index))"><label for="in_school_yes_(($index))">Yes</label>
    <br/>
    <input ng-model="person.in_school" id="in_school_no_(($index))" type="radio"
           class="name-input marital-input" value="no" name="in_school_(($index))"><label for="in_school_no_(($index))">No</label>
</div>

<div ng-click="updateCurrentAndGoToNext('int.household-in-school', 'int.household-pregnant')" class="yellow-button">Continue</div>