<div class="page-second-header-confirmation completed-basics">
    <h1 class="icon-check-app-submission">{{ _("Signed and sent!") }}</h1>
</div>

<p>{{ _("We're sending in your application now!") }}</p>

<div class="checkbox-group" ng-init="agree_to_texts = true">
    <input type="checkbox" class="agree-checkbox big-checkbox" id="agree_to_texts"  ng-model="agree_to_texts"/>
    <span style="font-weight:600;padding-left:10px">{{ _("Text me updates about my application status! (Recommended)") }}</span>
</div>

<div class="yellow-button" style="text-align: left;" ng-click="$emit('start-last-step');" ui-sref="upload.documents">{{ _("Start the last step") }}</div>

<p>{{ _("To complete the application process, you'll need to submit copies of documents that prove things like your income and your address. You can do this by taking photos of those documents on the next page.") }}</p>
