<h1>Is anyone in your home expecting money including employment, accident settlement, inheritance, or trust fund?</h1>

<input ng-click="showInput = true;" ng-model="user.resources_expecting_money" id="resources_expecting_money_yes" type="radio"
       class="name-input marital-input" value="yes" name="resources_expecting_money"><label for="resources_expecting_money_yes">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.resources-expecting-money', 'int.resources-sold-stuff'); showInput=false;"
       ng-model="user.resources_expecting_money" id="resources_expecting_money_no" type="radio"
       class="name-input marital-input" value="no" name="resources_expecting_money">
<label for="resources_expecting_money_no">No</label>


<div ng-show="showInput">
    <h4>Who?</h4>
    <input type="text" ng-model="user.resources_expecting_money_who" required/>
    <br/>
    <h4>What kind?</h4>
    <input type="text" ng-model="user.resources_expecting_money_kind" required/>
    <br/>
    <h4>When is it expected?</h4>
    <input type="text" ng-model="user.resources_expecting_money_when" required/>
    <br/>
    <h4>How much is expected?</h4>
    <input type="number" name="resources_expecting_money_amount" ng-model="user.resources_expecting_money_amount" required/>
    <br/>
    <div ng-hide="interviewForm.resources_expecting_money_amount.$valid" class="yellow-button disabled">Continue</div>
    <div ng-show="interviewForm.resources_expecting_money_amount.$valid"
         ng-click="updateCurrentAndGoToNext('int.resources-expecting-money','int.resources-sold-stuff')"
         class="yellow-button">Continue</div>
</div>