<!DOCTYPE html>
<html>
<head>
    <title><%= __("Capture Signature for PDF") %></title>
    <!--<script src="js/sig/signature_pad.js"></script>-->
    <link rel="stylesheet" href="css/sig_style.css"/>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <!--[if lt IE 9]>
    <script type="text/javascript" src="js/sig/flashcanvas.js"></script>
    <![endif]-->
    <script src="js/sig/jSignature.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, user-scalable=3">

</head>
<body>
<div class="page_container" >
    <div class="top-container">
        <p><%= __("Thank you for your recent application for SNAP! We did not ask you for a written signature, and as a result are having trouble processing your application. We apologize for the inconvenience.") %>
            <br/>
            <br/>
            <b><%= __("In order to re-submit your application, please sign it in 2 places after you preview it below.") %></b></p>
        <br/>
        <div class="yellow-button" id="ready2sign"><%= __("I'm ready to sign") %></div>
    </div>

    <div class="img_container">
        <img src="" alt=""/>
        <div id="app_signature_label1"><%= __("APPLICANT/REPRESENTATIVE SIGNATURE") %></div>
        <div id="sig_container1">
            <div id="sig_capture1"></div>

            <div id="sig_prompt1">
                <%= __("Sign in the box with your finger.") %>
                <div id="sig_continue" class="sig_button">
                    <%= __("Continue") %>
                </div>
            </div>
        </div>
    </div>
    <div class="img_container">
        <img src="" alt=""/>
    </div>
    <div class="img_container">
        <img src="" alt=""/>
    </div>
    <div class="img_container">
        <img src="" alt=""/>
    </div>
    <div class="img_container" id="sig2img_container">
        <img src="" alt=""/>
        <div id="app_signature_label2"></div>
        <div id="sig_container2">
            <div id="sig_capture2"></div>

            <div class="sig_prompt">
                <%= __("Sign in the box with your finger.") %>
                <div class="sig_button" id="submit_application">
                    <%= __("Submit application") %>
                </div>
            </div>


        </div>


    </div>

</div>




<script>

    var user_id = window.location.search.substring(1).split("=")[1];
    if(typeof user_id == 'undefined'){
        alert("<%= __("Something went wrong, please go back and tap on the link again.") %>")
    }

    var data = {
        'user_id': user_id,
        'sig1': undefined,
        'sig2' : undefined
    };

    var skip = false;
    $('.img_container > img').each(function(index){
        if(index == 3){
            $(this)
                    .error(sendErrorLoading)
                    .attr("src", "/images/sig/" + user_id + "/" + user_id + "-info.png");

            skip = true;
        }
        else if(skip){
            $(this)
                    .error(sendErrorLoading)
                    .attr("src", "/images/sig/" + user_id + "/" + user_id + "-" + (index-1) + ".png");
        }
        else {
            $(this)
                    .error(sendErrorLoading)
                    .attr("src", "/images/sig/" + user_id + "/" + user_id + "-" + (index) + ".png");
        }

    });

    function sendErrorLoading() {
        $.ajax('/report_error_loading_images',{
            "type": "POST",
            "data": {
                'user_id':user_id
            }
        })

    }


    $(document).ready(function() {


        var jsig1 = $("#sig_capture1").jSignature({'UndoButton':true}),
            jsig2 = undefined;

        jsig1.jSignature("reset");

        document.getElementById('ready2sign').addEventListener("click", goToSign1);
        document.getElementById('sig_continue').addEventListener("click", goToSign2);
        $('#submit_application').bind("click", goToConfirmation);

        function goToSign1() {
            document.getElementById('sig_container1').scrollIntoView(true);
        }

        function goToSign2() {

            data.sig1 = jsig1.jSignature('getData');

            if(typeof jsig2 == 'undefined'){
                jsig2 = $('#sig_capture2').jSignature({'UndoButton':true});
            }

            document.getElementById('sig_container2').scrollIntoView(true);
            document.getElementById('sig2img_container').scrollLeft = 168;
        }

        function goToConfirmation() {

            data.sig2 = jsig2.jSignature("getData");


            if(typeof data.sig1 === 'undefined' || typeof data.sig2 === 'undefined'){
                alert("<%= __("Signatures are required to submit your application.") %>");
            }
            else {
                sendDataToServer();
            }

        }

        function sendDataToServer() {
            $('#submit_application')
                    .unbind("click", goToConfirmation)
                    .html("Submitting application")
                    .css("background-color","#C0C0C0");


            var dots = 0;
            setInterval(type, 600);

            function type() {
                if(dots < 3) {
                    $('#submit_application').append('.');
                    dots++;
                } else {
                    $('#submit_application').html('<%= __("Submitting application") %>');
                    dots = 0;
                }
            }


            $.ajax('/send_sig_data',{
                "type": "POST",
                "data": data
            })
            .done(function(html){

                window.location.href = "/sig_completed.html";
            })
        }




    });

</script>



</body>
</html>