.thumbnail_label {
    margin-left: 110px;
    width: 150px;
    margin-top: 28px;
}

.thumbnail {
    height: 77px;
    width: 100px;
    border:1px #000000 solid;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 10px;

}

ul,li {
    list-style-type:circle;
    list-style:circle;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    background-color: #ffffff;
}

h4 {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    padding: 0;
}


.yellow-button {
    background-color: #fcee21;
    color: #000000;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin: 10px auto 20px auto;
    border: none;

}

#sig_container1 {
    position: absolute;
    top: 196px;
    left: 472px;
    width: 300px;
    border: 5px solid #00bd54;
    z-index: 1000;
    /*opacity:0.1;*/
}

#app_signature_label1 {
    position:absolute;
    z-index:500;
    background-color:white;
    width:320px;
    height:39px;
    top:207px;
    left:483px;
    font-size:13px;
}

.data_overlay {
    position:absolute;
    z-index:500;
    background-color:transparent;
    font-size:13px;
}

#sig_capture1 {

    width:100%;
    height: 45px;

}

#sig_prompt1 {
    margin-top:22px;
    height:50px;
    width:100%;
    background-color:#00bd54;
    color:white;
    text-align:center;
    font-size:21px;
    line-height:1.2;
    white-space: normal;
}

#sig_container2 {
    position: absolute;
    top: 564px;
    left: 168px;
    width: 300px;
    border: 5px solid #00bd54;
    z-index:1000;
}


#app_signature_label2 {
    position:absolute;
    z-index:100;
    background-color:white;
    width:320px;

    height: 57px;
    top: 569px;
    left: 167px;
    font-size: 13px;
}

#sig_capture2 {

    width:100%;
    height: 45px;
    z-index: 500;
}

.sig_prompt {
    margin-top:22px;
    height:50px;
    width:100%;
    background-color:#00bd54;
    color:white;
    text-align:center;
    font-size:22px;
    line-height:1.2;
    white-space: normal;
}

.sig_button {
    background-color:#fcee21;
    color:#000000;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:18px;
    font-weight:700;
    width:100%;
    margin-top:15px;
    white-space: normal;
}

.img_container {
    position:relative;
    width:100%;
    height:400px;
    overflow:scroll;
    display:none;

}

.img_container img {
    zoom:0.45;
}

#app_name {
    width: 200px;
    height: 20px;
    top: 638px;
    left: 72px;
}

#app_telephone {
    width: 139px;
    height: 20px;
    top: 815px;
    left: 88px;
}

#app_address {
    width: 700px;
    height: 20px;
    top: 699px;
    left: 67px;
}
/*
DEPRECATED
#app_apt {
    width: 35px;
    height: 20px;
    top: 699px;
    left: 89px;
}

#app_city {
    width: 157px;
    height: 20px;
    top: 699px;
    left: 110px;
}

#app_zip {
    width: 100px;
    height: 20px;
    top: 699px;
    left: 150px;
}*/

#app_lived_at {
    width: 200px;
    height: 20px;
    top: 750px;
    left: 777px;
}

#app_qs_income {
    width: 150px;
    height: 20px;
    top: 1022px;
    left: 73px;
}



#app_qs_rent {
    width: 200px;
    height: 20px;
    top: 1100px;
    left: 73px;
}

#app_qs_resources {
    width: 200px;
    height: 20px;
    top: 1171px;
    left: 73px;
}

#app_qs_applying_yes {
    width: 10px;
    height: 10px;
    top: 1024px;
    left: 381px;

}
#app_qs_applying_no {
    width: 10px;
    height: 10px;
    top: 1024px;
    left: 437px;
}
#app_qs_telephone_yes {
    width: 10px;
    height: 10px;
    top: 1083px;
    left: 381px;
}
#app_qs_telephone_no {
    width: 10px;
    height: 10px;
    top: 1084px;
    left: 437px;

}
#app_qs_heating_yes {
    width: 10px;
    height: 10px;
    top: 1172px;
    left: 382px;

}
#app_qs_heating_no {
    width: 10px;
    height: 10px;
    top: 1172px;
    left: 437px;

}
#app_qs_utilities_yes {
    width: 10px;
    height: 10px;
    top: 984px;
    left: 954px;

}
#app_qs_utilities_no {
    width: 10px;
    height: 10px;
    top: 984px;
    left: 1009px;
}
#app_qs_migrant_yes {
    width: 10px;
    height: 10px;
    top: 1102px;
    left: 641px;
}
#app_qs_migrant_no {
    width: 10px;
    height: 10px;
    top: 1102px;
    left: 696px;

}
#app_qs_abused_yes {
    width: 10px;
    height: 10px;
    top: 1173px;
    left: 641px;
}
#app_qs_abused_no {
    width: 10px;
    height: 10px;
    top: 1173px;
    left: 696px;
}

#app_qs_utilties {
    width: 394px;
    height: 20px;
    top: 1023px;
    left: 645px;
}

/**** PAGE 2  ****/

#app_hh_name0 {
    width: 400px;
    height: 20px;
    top: 382px;
    left: 59px;
}

#app_hh_applying0 {
    width: 10px;
    height: 10px;
    top: 381px;
    left: 586px;
}

#app_hh_ssn0 {
    width: 300px;
    height: 20px;
    top: 382px;
    left: 821px;
}


#app_hh_dob0 {
    width: 200px;
    height: 20px;
    top: 441px;
    left: 59px;
}

#app_hh_gender_male0 {
    width: 10px;
    height: 10px;
    top: 438px;
    left: 238px;
}

#app_hh_gender_female0 {
    width: 10px;
    height: 10px;
    top: 438px;
    left: 282px;
}


#app_hh_state_id0 {
    width: 200px;
    height: 10px;
    top: 438px;
    left: 342px;
}


#app_hh_marital_single0 {
    width:10px;
    height:10px;
    top: 419px;
    left: 692px;
}

#app_hh_marital_divorced0 {
    width: 10px;
    height: 10px;
    top: 445px;
    left: 692px;
}

#app_hh_marital_separated0 {
    width: 10px;
    height: 10px;
    top: 419px;
    left: 827px;
}

#app_hh_marital_widowed0 {
    width: 10px;
    height: 10px;
    top: 445px;
    left: 826px;
}

#app_hh_marital_married0 {
    width: 10px;
    height: 10px;
    top: 419px;
    left: 962px;
}

#app_hh_student_yes0 {
    width: 10px;
    height: 10px;
    top: 497px;
    left: 55px;
}

#app_hh_student_no0 {
    width: 10px;
    height: 10px;
    top: 497px;
    left: 109px;
}

#app_hh_student_grade0 {
    width: 200px;
    height: 20px;
    top: 497px;
    left: 233px;
}

#app_hh_student_school0 {
    width: 294px;
    height: 20px;
    top: 497px;
    left: 393px;
}

#app_hh_student_FT_yes0 {
    width: 10px;
    height: 10px;
    top: 490px;
    left: 950px;
}

#app_hh_student_FT_no0 {
    width: 10px;
    height: 10px;
    top: 490px;
    left: 1009px;
}


#app_hh_pregnant_yes0 {
    width: 10px;
    height: 10px;
    top: 557px;
    left: 55px;
}

#app_hh_pregnant_no0 {
    width: 10px;
    height: 10px;
    top: 557px;
    left: 109px;
}

#app_hh_pregnant_due0 {
    width: 200px;
    height: 20px;
    top: 557px;
    left: 233px;
}

#app_hh_pregnant_num0 {
    width: 294px;
    height: 20px;
    top: 557px;
    left: 616px;
}

#app_hh_citizen_yes0 {
    width: 10px;
    height: 10px;
    top: 596px;
    left: 305px;
}

#app_hh_citizen_no0 {
    width: 10px;
    height: 10px;
    top: 596px;
    left: 361px;
}


#app_hh_name1 {
    width: 400px;
    height: 20px;
    top: 911px;
    left: 59px;
}

/****** *** *** *** *** ***  PERSON 2 ****** *** *** *** *** *** /


/**** *** *** + 530 for top row*** *** *** *** *** *** *** *** *** ****** *** ***/

#app_hh_name1 {
    width: 400px;
    height: 20px;
    top:912px;
    left: 59px;
}

#app_hh_applying1 {
    width: 10px;
    height: 10px;
    top: 381px;
    left: 586px;
}

#app_hh_ssn1 {
    width: 300px;
    height: 20px;
    top: 382px;
    left: 821px;
}


#app_hh_dob1 {
    width: 200px;
    height: 20px;
    top: 971px;
    left: 59px;
}

#app_hh_gender_male1 {
    width: 10px;
    height: 10px;
    top: 438px;
    left: 238px;
}

#app_hh_gender_female1 {
    width: 10px;
    height: 10px;
    top: 438px;
    left: 282px;
}


#app_hh_state_id1 {
    width: 200px;
    height: 10px;
    top: 438px;
    left: 342px;
}


#app_hh_marital_single1 {
    width:10px;
    height:10px;
    top: 419px;
    left: 692px;
}

#app_hh_marital_divorced1 {
    width: 10px;
    height: 10px;
    top: 445px;
    left: 692px;
}

#app_hh_marital_separated1 {
    width: 10px;
    height: 10px;
    top: 419px;
    left: 827px;
}

#app_hh_marital_widowed1 {
    width: 10px;
    height: 10px;
    top: 445px;
    left: 826px;
}

#app_hh_marital_married1 {
    width: 10px;
    height: 10px;
    top: 419px;
    left: 962px;
}

#app_hh_student_yes1 {
    width: 10px;
    height: 10px;
    top: 497px;
    left: 55px;
}

#app_hh_student_no1 {
    width: 10px;
    height: 10px;
    top: 497px;
    left: 109px;
}

#app_hh_student_grade1 {
    width: 200px;
    height: 20px;
    top: 497px;
    left: 233px;
}

#app_hh_student_school1 {
    width: 294px;
    height: 20px;
    top: 497px;
    left: 393px;
}

#app_hh_student_FT_yes1 {
    width: 10px;
    height: 10px;
    top: 490px;
    left: 950px;
}

#app_hh_student_FT_no1 {
    width: 10px;
    height: 10px;
    top: 490px;
    left: 1009px;
}


#app_hh_pregnant_yes1 {
    width: 10px;
    height: 10px;
    top: 557px;
    left: 55px;
}

#app_hh_pregnant_no1 {
    width: 10px;
    height: 10px;
    top: 557px;
    left: 109px;
}

#app_hh_pregnant_due1 {
    width: 200px;
    height: 20px;
    top: 557px;
    left: 233px;
}

#app_hh_pregnant_num1 {
    width: 294px;
    height: 20px;
    top: 557px;
    left: 616px;
}

#app_hh_citizen_yes1 {
    width: 10px;
    height: 10px;
    top: 596px;
    left: 305px;
}

#app_hh_citizen_no1 {
    width: 10px;
    height: 10px;
    top: 596px;
    left: 361px;
}


/*** PAGE 3 ***/












#app_applying {
    width: 10px;
    height: 10px;
    top: 172px;
    left: 332px;
}

#app_date {
    width: 150px;
    height: 40px;
    top: 220px;
    left: 850px;
}

#app_citizen_yes {
    width: 10px;
    height: 10px;
    top: 573px;
    left: 275px;
}

#app_citizen_no {
    width: 10px;
    height: 10px;
    top: 573px;
    left: 313px;
}

#app_disabled_yes {
    width: 10px;
    height: 10px;
    top: 659px;
    left: 328px;
}

#app_disabled_no {
    width: 10px;
    height: 10px;
    top: 659px;
    left: 370px;
}

#app_0_income_name {
    width: 225px;
    height: 16px;
    top: 152px;
    left: 44px;
}
#app_0_income_hours {
    width: 150px;
    height: 16px;
    top: 152px;
    left: 451px;
}
#app_0_income_amount {
    width: 150px;
    height: 16px;
    top: 152px;
    left: 810px;
}

#app_1_income_name {
    width: 225px;
    height: 16px;
    top: 172px;
    left: 44px;
}
#app_1_income_hours {
    width: 150px;
    height: 16px;
    top: 172px;
    left: 451px;
}
#app_1_income_amount {
    width: 150px;
    height: 16px;
    top: 172px;
    left: 810px;
}

#app_2_income_name {
    width: 225px;
    height: 16px;
    top: 192px;
    left: 44px;
}
#app_2_income_hours {
    width: 150px;
    height: 16px;
    top: 192px;
    left: 451px;
}
#app_2_income_amount {
    width: 150px;
    height: 16px;
    top: 192px;
    left: 810px;
}

#app_total_resources {
    width: 80px;
    height: 16px;
    top: 422px;
    left: 178px;
}

#app_rent {
    width: 80px;
    height: 16px;
    top: 654px;
    left: 232px;
}

#app_household_0_first_name {
    width: 90px;
    height: 16px;
    top: 353px;
    left: 50px;
    overflow:hidden;
}

#app_household_0_last_name {
    width: 115px;
    height: 16px;
    top: 353px;
    left: 167px;
    overflow: hidden;
}

#app_household_0_ssn {
    width: 115px;
    height: 16px;
    top: 353px;
    left: 290px;
    overflow: hidden;
}

#app_household_0_dob {
    width: 68px;
    height: 16px;
    top: 353px;
    left: 409px;
    overflow: hidden;
}

.household_container div {
    position:absolute;
    white-space: nowrap;
    overflow: hidden;
}

.household_container {
    width: 100%;
    height: 16px;
    left: 50px;
}

#household_user_1 {
    top: 379px;
}

#household_user_2 {
    top: 405px;
}

#household_user_3 {
    top: 431px;
}

#household_user_4 {
    top: 457px;
}

#household_user_5 {
    top: 484px;
}

#household_user_6 {
    top: 511px;
}

#household_user_7 {
    top: 538px;
}


.hh_first_name {
    left:0px;
    width:90px
}

.hh_last_name {
    left:117px;
    width:115px;
}

.hh_ssn {
    left:240px;
    width:115px;
}

.hh_dob {
    left: 356px;
    width:72px;
}

.hh_applying {
    left:544px;
    width:10px
}

.hh_not_applying {
    left:575px;
    width:10px
}

.hh_relation {
    left:596px;
    width:128px;
    font-size:11px;

}

.hide_sig {
    opacity: 0;
}

.show_sig {
    opacity: 1;
}

.app_alt_page_header {
    background-color: #00bd54;
    color: white;
    z-index:1500;
    font-weight: 800;
    width: 100%;
    height: 80px;
    line-height: 3.4;
    text-indent: 20px;
    text-align:center;
    font-size: 22px;
    display:none;

}

.app_page_header {
    background-color: #00bd54;
    color: white;
    z-index:1500;
    font-weight: 800;
    width: 100%;
    height: 80px;
    line-height: 3.4;
    text-indent: 20px;
    text-align:center;
    font-size: 22px;
    display:none;
}

.app_page_header::before {
    content: "\e610";
    font-family: 'icomoon';
    font-size: 26px;
    line-height: 3.2;
    float:left;
    vertical-align: sub;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.form-wrapper {
    padding:0px!important;
}

.top_button {
    background-color: #fff819;
    width: 60px;
    font-weight: 800;
    margin-left: 45%;
    padding: 6px;
}

.top_button::before {
    content: "\e616";
    font-family: 'icomoon';
    font-size: 26px;
    line-height: 0px;
    vertical-align: sub;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page_button {
    background-color: #e4e4e4;
    text-align:left!important;
    margin-bottom:10px;
    margin-top:0px;
}

.display-none {
    display:none;
}
.display {
    display:block;
}


.header-to-top {
    display:block;
    position:absolute;
    top:0;
    left:0;
}

.image-to-top {
    display:block;
    position:absolute;
    top:50px;
    left:0;
}