body {
	margin: 0;
	padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 35px;
	font-weight: 700;
	line-height: 42px;
}
.wrapper.container {
	padding: 0;
}
.intro-header {
	width: 100%;
	height: 450px;
	background: url('../images/background.png');
	background-size: cover;
	color: #ffffff;
	box-sizing: border-box;
	padding: 50px 25px;
	box-shadow: inset 0 -50px 50px rgba(0,0,0,0.6);
}
.logo {
	font-weight: 400;
	font-size: 18px;
	line-height: 42px;
	word-spacing: 4px;
	letter-spacing: 1px;
}
.logo .fa-bolt {
	color: #fcee21;
}
.intro-input {
	margin-top: 70px;
}
.intro-input input {
	line-height: 60px;
	height: 60px;
	border-radius: 0;
	border:none;
	float: left;
	width: 70%;
}
.intro-input button {
	background-color: #fcee21;
	color: #000000;
	height: 60px;
	text-align: center;
	border-radius: 0;
	border: none;
	font-size: 18px;
	font-weight: 700;
	float: left;
	width: 30%;
}