<div class="page-header step-three" >
  <div class="back-button" ng-click="goBack()"></div>
  <div class="header">
    <h3>{{ _("Step 3 of 3") }}</h3>
    <h4>{{ _("Documents") }}</h4>
    <div class="page-third-header completed-documents">
	   	<h1 class="icon-check-docs">{{ _("Congrats! You're done!") }}</h1>
    </div>
  </div>
</div>

<h1>{{ _("What's next?") }}</h1>
<p>{{ _("You should expect your phone interview with a SNAP worker around <b>(( interviewDate | date:'EEEE, MMMM d' ))</b>. If you have any questions about your application, call or text us at <a href='%(tel)s'>(917) 727-6855</a>.", tel="tel://1-917-727-6855") }}</p>
