
	<div class="document-upload" ng-show="getDocDetailState() === DOC_STATUS.NOT_UPLOADED" ng-init="header_content = getCurrentContent()">
		<p><strong>{{ header_content }}</strong></p>

		<div class="yellow-button add-picture">Take a picture
			<input type="file" ng-file-select="uploadFile($files)">
		</div>
		<h5>See sample document:</h5>
		<div class="picture-wrapper">
			<img ng-src="images/{{current_sample_image}}">
		</div>
	</div>

	<div class="document-uploading" ng-show="getDocDetailState() === DOC_STATUS.IN_PROGRESS" >
		<p><strong>Great! Your picture is uploading. In the meantime can keep uploading more documents.</strong></p>
		<div class="yellow-button add-picture uploading-picture-button">
			<div class="upload-progress-bar" style="width: 30%;"></div>
			Uploading ...
			<input type="file">
		</div>
        <div class="yellow-button" ui-sref="form.document-upload">
            Continue
        </div>
	</div>

	<div class="document-uploaded" ng-show="getDocDetailState() === DOC_STATUS.UPLOADED" >
		<p><strong>Picture successfully uploaded</strong></p>
		<div class="yellow-button add-picture">
			Retake
			<input type="file">
		</div>

        <div class="yellow-button" ui-sref="form.document-upload">
            Continue
        </div>
		
	</div>
	