		<!-- form-document-upload.html -->
		<p><strong>Your documents are due in 8 days, on Wednseday, July 23.</strong></p>
		<div class="yellow-button add-new">Add document</div>
		<div class="doc-list">
			<ul>
				<li>
					<div class="upload-button">
					</div>
					<h4>LETTER FROM ROOMMATES</h4>
				</li>
				<li>
					<div class="upload-progress">
						<div class="upload-progress-bar" style="width: 30%;">
						</div>
						<h6>Uploading <span>30%</span></h6>
					</div>
					<h4>UTILITY BILL</h4>
				</li>
				<li>
					<div class="image-wrapper" >
						<img src="images/id.gif">
					</div>
					<h4>NEW YORK STATE ID</h4>
				</li>
				<div class="clear"></div>
			</ul>
		</div>
		<div class="yellow-button">Submit documents</div>