		<!-- form-document-upload.html -->
		<p><strong>Your documents are due in 8 days, on Wednseday, July 23.</strong></p>
		<!--<div class="yellow-button add-new">Add document</div>-->
		<div class="doc-list">
			<ul>
                <li ng-click="goToDocUpload('IDENTITY')">
                    <div ng-class="{'upload-button': isNotUploaded('IDENTITY'), 'in-progress-button': isInProgress('IDENTITY'), 'uploaded-button': isUploaded('IDENTITY')}"><i></i></div>
                    <h4>IDENTITY</h4>
                </li>
                <li ng-click="goToDocUpload('RESIDENCE')">
                    <div ng-class="{'upload-button': isNotUploaded('RESIDENCE'), 'in-progress-button': isInProgress('RESIDENCE'), 'uploaded-button': isUploaded('RESIDENCE')}"></div>
                    <h4>RESIDENCE</h4>
                </li>

                <li ng-click="goToDocUpload('AGE')">
                    <div ng-class="{'upload-button': isNotUploaded('AGE') , 'in-progress-button': isInProgress('AGE'), 'uploaded-button': isUploaded('AGE')}"></div>
                    <h4>AGE</h4>
                </li>

                <li ng-click="goToDocUpload('SSN')">
                    <div ng-class="{'upload-button': isNotUploaded('SSN'), 'in-progress-button': isInProgress('SSN'), 'uploaded-button': isUploaded('SSN')}"></div>
                    <h4>SSN</h4>
                </li>

                <li ng-click="goToDocUpload('CITIZENSHIP')">
                    <div ng-class="{'upload-button':isNotUploaded('CITIZENSHIP'), 'in-progress-button': isInProgress('CITIZENSHIP'), 'uploaded-button': isUploaded('CITIZENSHIP')}"></div>
                    <h4>CITIZENSHIP</h4>
                </li>

                <li ng-click="goToDocUpload('EARNED_INCOME')">
					<div ng-class="{'upload-button': isNotUploaded('EARNED_INCOME'), 'in-progress-button': isInProgress('EARNED_INCOME'), 'uploaded-button': isUploaded('EARNED_INCOME')}">
					</div>
					<h4>INCOME</h4>
				</li>

                <li ng-click="goToDocUpload('OTHER')">
                    <div class="upload-button"></div>
                    <h4>OTHER</h4>
                </li>

				<!--<li>
					<div class="upload-progress">
						<div class="upload-progress-bar" style="width: 30%;">
						</div>
						<h6>Uploading <span>30%</span></h6>
					</div>
					<h4>UTILITY BILL</h4>
				</li>
				--><li>
					<div class="image-wrapper" >
						<img src="../images/state_id.jpg">
					</div>
					<h4>STATE ID</h4>
				</li>

			    <div class="clear"></div>
			</ul>
		</div>
