<div class="modal-header">
    <span class="h4">Sorry we can't continue!</span>
</div>
<div class="modal-body m-body" style="margin-bottom:-20px">
    <p class="lead">We are unable to process your application if you do not provide either your phone number OR your address.</p>
</div>
<div class="modal-footer">
    <div class="pull-left col-xs-offset-1">
        <button type="button" class="btn btn-warning"
                data-ng-click="modalOptions.goToTelephone()">Edit Phone</button>

        <button class="btn btn-primary"
                data-ng-click="modalOptions.goToAddress()">Edit Address</button>
    </div>
</div>
