<div class="row" id="file_container">
    <img id="image_test" src="" alt=""/>
<h4>Upload Files</h4>
    <div ng-show="uploadedFiles.CITIZENSHIP==DOC_STATUS.NOT_UPLOADED">
        <label for="citizenship">Citizenship</label>
        <input id='citizenship' type="file" ng-file-select="uploadFile($files,'CITIZENSHIP')" >
    </div>
    <div ng-show="uploadedFiles.CITIZENSHIP==DOC_STATUS.IN_PROGRESS">
        <span>Uploading Citizenship</span>
    </div>
    <div ng-show="uploadedFiles.CITIZENSHIP==DOC_STATUS.UPLOADED">
        <span>COMPLETED CITIZENSHIP</span>
    </div>
    <br/>
    <div ng-show="uploadedFiles.IDENTITY == DOC_STATUS.NOT_UPLOADED">
        <label for="identity">Identity</label>
        <input id='identity' type="file" ng-file-select="uploadFile($files,'IDENTITY')" >
    </div>
    <div ng-show="uploadedFiles.IDENTITY == DOC_STATUS.IN_PROGRESS">
        <span>Uploading Identity...</span>
    </div>
    <div ng-show="uploadedFiles.IDENTITY == DOC_STATUS.UPLOADED">
        <span>COMPLETED IDENTITY</span>
    </div>
    <br/>
    <div ng-show="uploadedFiles.RESIDENCE == DOC_STATUS.NOT_UPLOADED">
        <label for="residence">Residence</label>
        <input id='residence' type="file" ng-file-select="uploadFile($files,'RESIDENCE')" >
    </div>
    <div ng-show="uploadedFiles.RESIDENCE == DOC_STATUS.UPLOADED">
        <span>Uploading residence...</span>
    </div>
    <div ng-show="uploadedFiles.RESIDENCE == DOC_STATUS.UPLOADED">
        <span>COMPLETED RESIDENCE</span>
    </div>
</div>


