<div class="page-second-header completed-basics">
    <h2 ng-show="eligibility_progress < 50" class="eligible-for">{{ _("You're eligible for") }}</h2>
    <span ng-show="eligibility_progress < 50" class="amount" >$((formData.benefit_amount))</span>
    <span ng-show="eligibility_progress < 50" class="each-month">{{ _("EACH MONTH") }}</span>
    <p ng-show="eligibility_progress < 50" class="sub-text">{{ _("in SNAP benefits.") }}</p>
</div>
<h1>{{ _("You finished the basics!") }}</h1>
<p>{{ _("You're ready for the next step, which is answering your SNAP interview questions in advance.") }}</p>

<div class="yellow-button" ui-sref="int.main">{{ _("Continue to step 2") }}</div>

<div ng-init="isActive = {}">
	<h5 ng-class="{'open':isActive.when, 'close':!isActive.when}" ng-click="accordion(isActive, 'when')">
	    {{ _("When is my interview?") }}
	</h5>
	<div class="accordion" ng-class="{'open':isActive.when, 'close':!isActive.when}">
	    <p ng-show="formData.phone_main">{{ _("A SNAP worker is legally obligated to call you in 5 days. Expect a phone call before (( date_of_phone_call | date:'EEEE, MMMM d' )) to schedule the exact interview time.") }}
	    </p>
	    <p ng-hide="formData.phone_main">{{ _("You will receive a letter in the mail confirming your SNAP application submission within 5 days.") }}</p>

	</div>
	<h5 ng-class="{'open':isActive.what, 'close':!isActive.what}" ng-click="accordion(isActive, 'what')">
	    {{ _("What is the interview for?") }}
	</h5>
	<div class="accordion" ng-class="{'open':isActive.what, 'close':!isActive.what}">
	    <p>{{ _("The interview is a required step in the application process. A SNAP worker must speak with you over the phone or in person to confirm the answers you provided in the application form and to get additional information about your situation.") }}</p>
	</div>
</div>
