<!-- form-basic-confirmation.html -->
<h1>{{ _("Great! You're almost done!") }}</h1>
<p>{{ _("Review your information to make sure everything is right.") }}</p>
<div class="confirm-info">

    <div>
        <h6>{{ _("First Name") }}</h6>
        <input type="text" placeholder="{{ _("First name") }}" name="first_name" id="first_name" ng-model="formData.name.first_name" required/>
        <span class="help-block" ng-show="snapForm.first_name.$error.required">{{ _("First name required") }}</span>
    </div>

    <div>
        <h6>{{ _("Last Name") }}</h6>
        <input type="text" placeholder="{{ _("Last name") }}" name="last_name" id="last_name" ng-model="formData.name.last_name" required/>
        <span class="help-block" ng-show="snapForm.first_name.$error.required">{{ _("Last name required") }}</span>
    </div>

    <div>
        <h6>{{ _("Phone Number") }}</h6>
        <input class="form-control" type="number" placeholder="{{ _("Phone Number") }}" name="phone" id="phone"
           ng-model="formData.phone_main" ng-minlength="10" ng-maxlength="11" min="0"/>
        <span class="help-block" ng-show="has_phone && snapForm.phone.$error.required">{{ _("10 digit number required.") }}</span>
    </div>

    <div>
        <h6>{{ _("Street Address") }}</h6>
        <input type="text" name="address" id="address" placeholder="{{ _("Street Address") }}"
           ng-model="formData.address.address" ng-minlength="3">
        <span class="help-block" ng-show="has_address && snapForm.address.$error.required">{{ _("Address required") }}</span>
    </div>

    <div>
        <h6>{{ _("Apt #") }}</h6>
        <input type="text" id="apt_number" placeholder="{{ _("APT #") }}" ng-model="formData.address.apt_number">
    </div>

    <div>
        <h6>{{ _("Zip Code") }}</h6>
        <input type="number" name="zipcode" id="zipcode" placeholder="{{ _("Zip Code") }}" ng-model="formData.address.zipcode" min="10000" max="120000" ng-minlength="5">
    </div>

    <div>
        <h6>{{ _("Household Size") }}</h6>
        <input class="form-control" type="number" placeholder="{{ _("Household Size") }}" name="household"  id="household"
               ng-model="formData.household" required min="1" required/>
        <span class="help-block" ng-show="snapForm.household.$error.required">{{ _("Household size required") }}</span>
    </div>

    <div>
        <h6>{{ _("Household Income") }}</h6>
        <input class="form-control" placeholder="$" type="number" name="income"  id="income" ng-model="formData.income" required/>
        <span class="help-block" ng-show="snapForm.income.$error.required">{{ _("Household income required") }}</span>
    </div>
</div>

<div class="checkbox-group">
    <input type="checkbox" class="agree-checkbox big-checkbox" id="agree_to_legal"  ng-model="basic_confirmation_agree"/>
    <span style="padding-left:10px">{{ _("I certify that the information I am submitting is true and authorize Easy Food Stamps to sign my application on my behalf.") }}</span>
</div>
<div ng-show="!basic_confirmation_agree || snapForm.validation.$error" class="yellow-button disabled" ng-click="checkboxAlert()">{{ _("Confirm answers") }}</div>
<div ng-show="basic_confirmation_agree && !snapForm.validation.$error && !disable_submit" class="yellow-button" ng-click="submitBasicApp()">{{ _("Confirm answers") }}</div>
<div ng-show="basic_confirmation_agree && disable_submit" class="yellow-button spinner-button"><i></i></div>
