<h1>Do you, or anyone you are applying for, live in a shelter for abused and battered women and children?</h1>
<input ng-click="goToNextQuickSnap(0);" ng-model="formData.shelter_abused" id="shelter_abused_yes" type="radio" class="name-input marital-input" value="yes" name="shelter_abused"><label
        for="shelter_abused_yes">Yes</label>
<br/>
<input ng-click="goToNextQuickSnap(0);" ng-model="formData.shelter_abused" id="shelter_abused_no" type="radio" class="name-input marital-input" value="no" name="shelter_abused"><label
        for="shelter_abused_no" >No</label>