<h1>Are you, or anyone else you are applying for a seasonal or migrant farm worker?</h1>
<input ng-click="goToNextQuickSnap(6);" ng-model="formData.migrant_worker" id="migrant_worker_yes" type="radio" class="name-input marital-input" value="yes" name="migrant_worker"><label
        for="migrant_worker_yes">Yes</label>
<br/>
<input ng-click="goToNextQuickSnap(6);" ng-model="formData.migrant_worker" id="migrant_worker_no" type="radio" class="name-input marital-input" value="no" name="migrant_worker"><label
        for="migrant_worker_no" >No</label>