<!-- form-address.html -->
<h1>{{ _("Thanks (( formData.name.first_name )). Next, what’s your home address?") }}</h1>

<div class="form-group" ng-class="{'has-success':snapForm.address.$pristine, 'has-error': snapForm.address.$invalid}">
    <input type="text" class="form-control" name="address" id="address" placeholder="{{ _("Street address") }}" ng-model="formData.address.address" ng-minlength="3" autofocus="true">
    <span class="help-block" ng-show="submitted_address && has_address && !(snapForm.address.$valid)">{{ _("Please enter your street address.") }}</span>
</div>
<div class="form-group">
    <input type="text" class="form-control" id="apt_number" placeholder="{{ _("Apt number") }}" ng-model="formData.address.apt_number">
</div>

<div class="form-group" ng-class="{'has-success':snapForm.zipcode.$pristine ,'has-error': submitted_address && (snapForm.zipcode.$invalid || snapForm.zipcode.$error.minlength || snapForm.zipcode.$isEmpty())}">
    <input type="number" class="form-control" name="zipcode" id="zipcode" placeholder="{{ _("Zip code") }}" ng-model="formData.address.zipcode" ng-minlength="5" minlength="5" maxlength="5" min="10000" max="12000">
    <span class="help-block" ng-show="submitted_address && snapForm.zipcode.$error.minlength && snapForm.zipcode.$dirty">{{ _("5 Digit Zip Code Required") }}</span><br/>
    <span class="help-block" ng-show="submitted_address && (snapForm.zipcode.$error.min || snapForm.zipcode.$error.max)">{{ _("Easy Food Stamps is currently only available for New York") }}</span>
</div>
<p>{{ _("If you don’t have a home address, leave this blank.") }}
</p>

<div class="yellow-button" ng-click="completedAddress()">{{ _("Continue") }}</div>
