<div class="page-second-header completed-basic" ng-show="!formData.benefit_amount">
    <span class="no-benefit">
        {{ _("Based on the information you provided, you are likely not eligible for SNAP.") }}
    </span>
</div>

<div class="page-second-header completed-basic" ng-show="formData.benefit_amount">
    <div style="margin-left: auto; margin-right: auto; width: 250px">
        <br/>
        <div class="pull-left" style="padding: 10px; background-color: #0060B7; width: 50px; float: left; margin-right: 20px;">
            <img src="/static/images/checkmark_yellow.png" style="width: 100%"/>
        </div>
        <div style="height: 120px; position: relative; top: -10px; font-size: 2em;">{{ _("You may be eligible!") }}</div>
    </div>
</div>

<div ng-show="formData.benefit_amount">
    <p style="margin-top:-25px">
        {{ _("Based on your answers, we estimate that you could receive:") }}
    </p>

    <div style="margin-left: auto; margin-right: auto; width: 250px">
        <span style="float:left; margin-right: 15px;" class="amount">
            $((formData.benefit_amount))
        </span>
        <span><br/>{{ _("PER <br/>MONTH") }}</span>
    </div>
    <br/><br/>
</div>

<div class="yellow-button"
    ng-click="$emit('start-application')" ui-sref="form.name">
    {{ _("Start my application") }}
</div>
