<h1>Do you pay for heating or cooling costs?</h1>

<input ng-click="goToNextQuickSnap(4);" ng-model="formData.pay_for_heating" id="pay_for_heating_yes" type="radio" class="name-input marital-input" value="yes" name="pay_for_heating"><label
        for="pay_for_heating_yes">Yes</label>
<br/>
<input ng-click="goToNextQuickSnap(4);" ng-model="formData.pay_for_heating" id="pay_for_heating_no" type="radio" class="name-input marital-input" value="no" name="pay_for_heating"><label
        for="pay_for_heating_no" >No</label>

