<h1>You may be eligible to receive Quick SNAP, which gets you food stamps within five days. That’s much faster than usual.</h1>

<p>To apply for Quick SNAP, you’ll have to go to your local County Assistance Office. If you’d like to submit a regular SNAP application, you can still do that too.</p>

<a style="display: block" target="_blank"
	href="http://www.dhs.state.pa.us/findfacilsandlocs/countyassistanceofficecontactinformation/index.htm"
	class="yellow-button">Locate CAO near me</a>
<div class="yellow-button" ui-sref="form.ssn">Continue to Application</div>
