<!-- form.html -->
    <div class="intro-header"  ng-hide="show_progress">
        <div class="logo">EASY <i class="fa fa-bolt"></i> FOODSTAMPS NYC</div>
        <h1>Get food stamps, <br/>without the <br/>hassle.</h1>
        <div class="intro-input">
            <input type="text" class="form-control ng-pristine ng-invalid ng-invalid-required" ng-model="init_name" placeholder="What's your name?" required>
            <button class="btn btn-default" ng-click="initNameStart()" type="button">Start</button>
        </div>
        <a ui-sref="form.recert" style="color:yellow;">Recertifying? Click here.</a>
    </div>

    <div class="page-header"  ng-show="show_progress">
        <div class="header" ng-click="goBack()">
            <h3>Step 1 of 3</h3>
            <h4>Basics</h4>
        </div>
        <div class="progress" ng-show="show_progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ width: progress +'%'}">
            </div>
        </div>
    </div>
    
    <!-- use ng-submit to catch the form submission and use our Angular function -->
    <form name="snapForm" id="signup-form" ng-submit="processForm()" novalidate>
        <!-- our nested state views will be injected here -->
        <div class="form-wrapper" ui-view></div>
    </form>
