<div class="row ">
    <span class="text-left" style="font-size: 30px"><strong>Great! You're almost done!</strong></span>
</div>

<div class="row ">
    <p>
        Review your information. After you check the box and hit Submit, we’ll send your application.
    </p>
</div>

<div class="row ">

    <div class="col-xs-12">
        <p id="name">{{ formData.name.first_name + " " + formData.name.last_name }} </p>
        <div >
            <a ui-sref="form.name" class="btn btn-block" style="background-color:#e8e8e8;color:black">
                Edit name
            </a>
        </div>
        <br/>
    </div>


    <div class="col-xs-12">
        <p id="address" ng-show="formData.address">{{ formData.address.street_address + " " + formData.address.apt_number + ", " + formData.address.zip}} </p>
        <p id="no_address" ng-hide="formData.address">None provided</p>
        <div >
            <a ui-sref="form.address" class="btn btn-block" style="background-color:#e8e8e8;color:black">
                Edit address
            </a>
        </div>
        <br/>
    </div>

    <div class="col-xs-12">
        <!--<input class="form-control" type="number" name="household"  id="household" ng-model="formData.household"/>-->
        <p  id="single_household" ng-show="(formData.household == 1)">{{ formData.household }} person</p>
        <p  id="household" ng-show="(formData.household > 1)">{{ formData.household }} people</p>
        <p id="no_household" ng-hide="formData.household">None provided</p>
        <div >
            <a ui-sref="form.household" class="btn btn-block" style="background-color:#e8e8e8;color:black">
                Edit household size
            </a>
        </div>
        <br/>
    </div>

    <div class="col-xs-12">
        <!--<div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" type="number" name="income"  id="income" ng-model="formData.income"/>
        </div>-->

        <p id="income" ng-show="formData.income">${{ formData.income }}</p>
        <p id="no_income" ng-hide="formData.income">None provided</p>
        <div >
            <a ui-sref="form.income" class="btn btn-block" style="background-color:#e8e8e8;color:black">
                Edit income
            </a>
        </div>
        <br/>
    </div>


    <div class="col-xs-12">
        <!--<input class="form-control" type="number" name="phone" id="phone" ng-model="formData.phone_main"/>-->
        <p id="telephone">{{ (formData.phone_main | tel) || "None provided"}}</p>
        <div>
            <a ui-sref="form.telephone" class="btn btn-block" style="background-color:#e8e8e8;color:black">
                Edit phone number
            </a>
        </div>
    </div>
    <br/>

</div>


<div class="row">
    <br/>
    <label for="agree_to_legal">
        <input type="checkbox" class="big-checkbox" id="agree_to_legal"  ng-model="basic_confirmation_agree"/>
        <span class="pull-right" style="width:70%;">I certify that the information I am submitting is true and authorize
            Easy Food Stamps to sign my application on my behalf.</span>
    </label>
</div>

<div class="row" ng-show="basic_confirmation_agree" style="margin-top:5px">
    <button ng-click="submitBasicApp()" class="btn btn-block btn-remove-ws" style="background-color: yellow;color:black">
        Submit Application
    </button>
</div>