<!-- form-address.html -->
<div class="row col-xs-10">
    <span class="text-left" style="font-size: 30px"><strong> What's your address?</strong></span>
</div>

<div class="form-group">
    <input type="text" class="form-control" id="address" placeholder="STREET ADDRESS" ng-model="formData.address.street_address">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="apt_number" placeholder="APT #" ng-model="formData.address.apt_number">
</div>

<div class="form-group">
    <input type="text" class="form-control" id="zip" placeholder="ZIP CODE" ng-model="formData.address.zip">
</div>

<div class="form-group row col-xs-offset-1">
    <span>If you do not have an address, please leave this form blank</span>
</div>

<div class="row">
    <button type="button" ng-click="completedAddress(formData.address.zip, formData.address.street_address)" class="btn btn-block btn-remove-ws" style="background-color:yellow;color:black">
        Continue
    </button>
</div>