<!-- form-intro.html -->
<div class="form-group row">
    <div  style="margin-top:-125px;">
        <div class="input-group input-group-lg">
            <input type="text" class="form-control" ng-model="formData.name.entered_name" placeholder="What's your name?"
                   ng-enter="initNameStart()" required style="border:none;border-radius: 0px"/>
            <span class="input-group-btn">
                <button class="btn btn-group-lg btn-default"  ng-click="initNameStart()" type="button" style="border:none;background-color:yellow;color:black;border-radius:0px"><b>Start</b></button>
            </span>
        </div>
    </div>
    <div style="text-align: center;margin-top:25px">
        <a ui-sref="form.recert" style="color:yellow;">Recertifying? Click here.</a>
    </div>
</div>

<div class="row text-center" style="margin-bottom:25px">
    <span class="lead">
        Skip the lines at the HRA, by applying now from your phone!
    </span>
</div>

<info-carousel></info-carousel>

<div class="col-xs-12 col-lg-6 col-lg-offset-3" style="margin-top:10px;margin-bottom:20px">
    <a ng-click="initNameStart()" class="btn btn-block" style="background-color:yellow;color:black">
        <strong>Get started</strong>
    </a>
</div>
<br/>
<br/>

<info-footer></info-footer>

