        <!-- form-income.html -->
        <h1>What was your household income last month?</h1>
        <p>This includes:<br/>
            -  Wages<br/>
            -  Child support<br/>
            -  Social security<br/>
            -  Money from relatives<br/>
            -  Other sources of income<br/>
        </p>
        <!-- <ul>
            <li>Wages</li>
            <li>Child support</li>
            <li>Social security</li>
            <li>Money from relatives</li>
            <li>Other sources of income</li>
        </ul> -->

        <div class="form-group">
            <div class="input-group" ng-class="{'has-success':snapForm.income.$pristine ,'has-error': snapForm.income.$invalid }">
                <input class="form-control" placeholder="$" type="number" name="income"  id="income" ng-model="formData.income" autofocus="true" required/>
            </div>
            <span class="help-block" ng-show="submitted_income && (!(snapForm.income.$error.valid) || snapForm.income.$error.required)">
                Income is required. Input 0 if none.</span>
        </div>

        <div class="yellow-button" ng-click="completedIncome()">Continue</div>
