<div class="row">
    <div class="col-xs-12">
        <span class="text-left" style="font-size: 24px"><strong>What was your household income last month?</strong></span>
    </div>
    <div class="col-xs-12">
        <span class="text-left">This includes:
            <ul>
                <li>Wages</li>
                <li>Child support</li>
                <li>Social security</li>
                <li>Money from relatives</li>
                <li>Other sources of income</li>
            </ul>
        </span>
    </div>
</div>

<div class="form-group">
    <div class="input-group">
        <span class="input-group-addon">$</span>
        <input class="form-control" type="number" name="income" placeholder="0" id="income" ng-model="formData.income" autofocus="true"/>
    </div>
</div>



<div class="row">
    <button type="button" ng-click="completedIncome()" class="btn btn-block" style="background-color:yellow;color:black">
        Continue
    </button>
</div>