<div class="page-second-header">
    <h1 class="icon-check">Your application is in!</h1>
    <p>We estimate you are eligible for <span>${{formData.benefit_amount || 0}}</span> of SNAP benefits per month based on the information you provided.</p>
    <p>You’re ready for the next step, an interview with a SNAP worker.</p>
</div>
<h5 class="open">
    When is my interview?
</h5>
<div class="accordion open">
    <p ng-show="formData.phone_main">A SNAP worker is legally obligated to call you in 5 days. Expect a phone call before {{ date_of_phone_call | date:'EEEE, MMMM d' }} to schedule the exact interview time.
    </p>
    <p ng-hide="formData.phone_main">You will receive a letter in the mail confirming your SNAP application submission within 5 days.</p>

    <p>We estimate that your interview will be scheduled before {{ date_of_interview | date:'EEEE, MMMM d' }}.</p>

</div>
<h5 class="close">
    How do I prepare for it?
</h5>
<div class="accordion close">
    <p>
        You'll be asked questions about your income, monthly expenses, and household. You'll be asked to confirm your social security number and address.</p>
    <p>
        Check out this <a href="http://www.nyc.gov/html/hra/downloads/pdf/benefits/eligibility_factors_and_suggested_documentation_guide.pdf">official list of required documents </a> for details on how to prepare.</p>
</div>
<h5 class="close">
    What is the interview for?
</h5>
<div class="accordion close">
    <p>
        The interview is a required step in the application process. A SNAP worker must speak with you over the phone or in person to confirm the answers you provided in the application form and to get additional information about your situation.
    </p>
</div>
<p><strong>THANKS FOR APPLYING WITH US
</strong>
    We’ve successfully and safely submitted your application to SNAP. Steps 2 and 3 are not ready for the public yet. If you check the box below, you’ll have the opportunity to help us test drive them!
</p>
<div class="checkbox-group">
    <label><input type="checkbox" class="big-checkbox" id="agree_to_text" value="true"  ng-model="formData.sms_agree"/>
        <span>Yes, please text me when the next steps are ready!</span></label>
</div>
<h1 class="sub-h1">How likely are you to recommend Easy Food Stamps to a friend?</h1>
<select class="form-control" ng-model="selected_rating" ng-options="opt as opt.label for opt in rating_options" id="rating" name="rating" required>
</select>

<textarea class="form-control" cols="30" rows="10" name="feedback_message" id="feedback_message" ng-model="formData.feedback_message" placeholder="What did you like and dislike?" ng-minlength="5"></textarea>

<button ng-click="submitFeedback(selected_rating)" class="yellow-button">Submit feedback</button>
