body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    background-color: #ffffff;
}

.page_container {
    height:2400px;
}

#header {
    background-color: #00a4ff;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    padding: 5px 5px;
    position: relative;
}

h4 {
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: 35px;
}

p {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    padding: 0;
}


.yellow-button {
    background-color: #fcee21;
    color: #000000;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    width: 200px;
    margin: 10px auto 20px auto;
    border: none;

}

.top-container {
    width:80%;
    margin:10px auto 0px auto;

}

#sig_container1 {
    position: absolute;
    top: 196px;
    left: 472px;
    width: 300px;
    border: 5px solid green;
    z-index: 1000;
}

#app_signature_label1 {
    position:absolute;
    z-index:500;
    background-color:white;
    width:320px;
    height:39px;
    top:207px;
    left:483px;
font-size:13px;
}

#sig_capture1 {

    width:100%;
    height: 45px;

}

#sig_prompt1 {
    margin-top:22px;
    height:50px;
    width:100%;
    background-color:green;
    color:white;
    text-align:center;
    font-size:21px;
    line-height:1.2;
    white-space: normal;
}

#sig_container2 {
    position: absolute;
    top: 564px;
    left: 168px;
    width: 300px;
    border: 5px solid green;
    z-index:1000;
}


#app_signature_label2 {
    position:absolute;
    z-index:100;
    background-color:white;
    width:320px;

    height: 57px;
    top: 569px;
    left: 167px;
    font-size: 13px;
}

#sig_capture2 {

    width:100%;
    height: 45px;
    z-index: 500;
}

.sig_prompt {
    margin-top:22px;
    height:50px;
    width:100%;
    background-color:green;
    color:white;
    text-align:center;
    font-size:22px;
    line-height:1.2;
    white-space: normal;
}

.sig_button {
    background-color:#fcee21;
    color:#000000;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:18px;
    font-weight:700;
    width:100%;
    margin-top:15px;
    white-space: normal;
}

.img_container {
    position:relative;
    width:100%;
    height:400px;
    overflow:scroll;
    border:4px solid red;
}

.img_container img {
    zoom:0.45;
}