<div class="page-second-header completed-basics">
    <h2 ng-show="formData.benefit_amount" class="eligible-for">You're eligible for</h2>
    <span ng-show="formData.benefit_amount" class="amount" >${{formData.benefit_amount}}</span>
    <span ng-show="formData.benefit_amount" class="each-month">EACH MONTH</span>
    <p ng-show="formData.benefit_amount" class="sub-text">in SNAP benefits.</p>
</div>
<h1>You finished the basics!</h1>
<p>You're ready for the next step, which is answering your SNAP interview questions in advance.</p>

<div class="yellow-button" ui-sref="int.main">Continue to step 2</div>

<app-submitted-dropdown></app-submitted-dropdown>



