<!-- form-ssn.html -->
<h1>What’s your Social Security Number?</h1>
<p>If you have a social security number, enter it here. It will help you track the status of your application,
    and upload your documents sooner.</p>
<div class="form-group" ng-class="{'has-success':snapForm.ssn.$pristine ,'has-error': snapForm.ssn.$invalid}">
    <input class="form-control" type="number" name="ssn" id="ssn" ng-model="formData.ssn" minlength="9" maxlength="9" autofocus="true"/>
    <span class="help-block" ng-show="submitted_ssn && snapForm.ssn.$invalid">SSN Required</span>
</div>

<div class="yellow-button" ng-class="{'disabled':snapForm.ssn.$invalid}"
     ng-click="completedSSN()">Continue</div>



