<div class="page-second-header-confirmation completed-basics">
    <h1 class="icon-check-app-submission"><%= ("Signed and sent!") %></h1>
</div>

<p><%= ("We're faxing in your signed NYC SNAP application form now!") %></p>

<div class="checkbox-group">
    <input type="checkbox" class="agree-checkbox big-checkbox" id="agree_to_texts"  ng-model="agree_to_texts"/>
    <span style="font-weight:600;padding-left:10px"><%= ("Yes, send me updates about my application status to the phone number I provided.") %></span>
</div>

<div class="yellow-button" style="text-align: left;" ng-click="$emit('start-last-step');" ui-sref="upload.documents"><%= ("Start the last step") %></div>

<p><%= ("To complete the application process, you need to prove your income, address, citizenship status, expenses and household size by sending in certain documents. Don't worry if you don't want to do this now your SNAP worker will tell you what to do next during your interview.") %></p>



