<h1><%= ("Which ones are you applying for?") %></h1>
<style>
    li,ul {list-style-type: disc; list-style-position: outside; margin-left:10px; }
</style>
<p><%= ("You can apply with other people if:") %></p>
<ul>
<li><%= ("You live together, and you buy and cook food together, or") %></li>
<li><%= ("You live with and are applying for your child, or") %></li>
<li><%= ("You live with and are applying for your husband or wife") %></li>
</ul>

<div ng-repeat="person in user.household_members track by $index" class="household-applying" ng-show="person.name">
<div class="checkbox-group">
    <input id="applying_{{ $index }}" type="checkbox" name="applying" value="true" ng-model="person.applying"/>
    <span for="applying_{{ $index }}">{{ person.name }}</span>
</div>
</div>

<div ng-show="hasApplyingMembers()" class="yellow-button" ui-sref="int.household-ssn"><%= ("Continue") %></div>
<div ng-show="!hasApplyingMembers()" ng-click="$emit('int-main','household')" class="yellow-button" ui-sref="int.main"><%= ("Continue") %></div>

