<h1>Does anyone have paid or unpaid medical bills this month or the last three months?</h1>

<input ng-click="updateCurrentAndGoToNext('int.medical-unpaid', 'int.domestic-abuse')" ng-model="user.medical_unpaid" id="yes_medical_unpaid" type="radio"
       class="name-input marital-input" value="yes" name="medical_unpaid"><label for="yes_medical_unpaid">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.medical-unpaid', 'int.domestic-abuse')" ng-model="user.medical_unpaid" id="no_medical_unpaid" type="radio"
       class="name-input marital-input" value="no" name="medical_unpaid"><label for="no_medical_unpaid">No</label>