<ng-switch on="interview_steps">
    <div  ng-switch-when="0"  class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header">
            <h4 class="sub-h4"><%= __("More about you") %></h4>
        </div>
        <div class="progress" ng-show="show_interview_progress">
            <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
            </div>
        </div>
    </div>

    <div  ng-switch-when="1"  class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header" ng-switch="interview_steps">
            <h4 class="sub-h4"><%= __("Household") %></h4>
        </div>
        <div class="progress" ng-show="show_interview_progress">
            <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
            </div>
        </div>
    </div>

    <div  ng-switch-when="2"  class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header" ng-switch="interview_steps">
            <h4 class="sub-h4"><%= __("Income") %></h4>
        </div>
        <div class="progress" ng-show="show_interview_progress">
            <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
            </div>
        </div>
    </div>

    <div  ng-switch-when="3"  class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header" ng-switch="interview_steps">
            <h4 class="sub-h4"><%= __("Expenses") %></h4>
        </div>
        <div class="progress" ng-show="show_interview_progress">
            <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
            </div>
        </div>
    </div>

    <div  ng-switch-when="4" id="topOfInfoPage" class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header">
            <h4><%= __("Sign application") %></h4>
        </div>
    </div>

    <div  ng-switch-when="5" id="topOfSignPage" class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header">
            <h4><%= __("Sign application") %></h4>
        </div>
    </div>

    <div  ng-switch-when="6" class="page-header step-two">
        <div class="back-button" ng-click="goBack()"></div>
        <div class="header">
            <h3><%= __("Step 2 of 3") %></h3>
            <h4><%= __("Confirmation") %></h4>
        </div>
    </div>


    <div  ng-switch-when="-1" class="page-header step-two">

        <div class="back-button" ng-click="goBack()"></div>
        <div class="header">
            <h3><%= __("Step 2 of 3") %></h3>
            <h4><%= __("Interview") %></h4>
        </div>
        <div class="progress" ng-show="show_interview_progress">
            <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
            </div>
        </div>

        <div ng-switch="interview_progress_status">
            <h1 ng-switch-when="0"><%= __("Ace your interview!") %></h1 >
            <p ng-switch-when="0"><%= __("Answering your interview questions in advance will make your phone interview shorter.") %></p>
            <h1 ng-switch-when="1"><%= __("Good job so far!") %></h1>
            <h1 ng-switch-when="2"><%= __("Great! You're done!") %></h1>
        </div>

        <div class="estimate">
            <div class="time-estimate">
                <h1 ng-class="{'finish':interviewCompleted.eligibility && interviewCompleted.household &&interviewCompleted.income && interviewCompleted.expenses}">
                    {{ 45 - minutes_saved }}<span><%= __("min") %></span>
                </h1>
                <h2><%= __("Estimated interview") %></h2>
            </div>
            <div class="benefit-estimate">  
                <h1>${{ estimated_benefit || 0 }}</h1>
                <h2><%= __("Estimated benefit") %></h2>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</ng-switch>

<form name="interviewForm" id="interview-form" novalidate>
    <!-- our nested state views will be injected here -->
    <div class="form-wrapper" ui-view></div>
</form>
