<h1>Has anyone been a victim of domestic abuse?</h1>

<input ng-click="updateCurrentAndGoToNext('int.domestic-abuse', 'int.medical-medication')" ng-model="user.domestic_abuse" id="yes_domestic_abuse" type="radio"
       class="name-input marital-input" value="yes" name="domestic_abuse"><label for="yes_domestic_abuse">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.domestic-abuse', 'int.medical-medication')" ng-model="user.domestic_abuse" id="no_domestic_abuse" type="radio"
       class="name-input marital-input" value="no" name="domestic_abuse"><label for="no_domestic_abuse">No</label>