<h1>{{ title }}</h1>

<input ng-model="model_for_route[route_name]" ng-click="updateCurrentAndGoToNext('int.{{ route_name }}', 'int.{{ to_route_name }}')" id="{{ data_name }}_yes" type="radio" class="name-input marital-input" value="yes" name="{{ data_name }}"><label
        for="{{ data_name }}_yes">Yes</label>
<br/>
<input ng-model="model_for_route[route_name]" ng-click="updateCurrentAndGoToNext('int.{{ route_name }}', 'int.{{ to_route_name }}')"
       id="{{ data_name }}_no" type="radio" class="name-input marital-input" value="no" name="{{ data_name }}">
<label for="{{ data_name }}_no" >No</label>