<h1><%= __("What’s your marital status?") %></h1>
<input ng-model="user.marital" id="single" type="radio" class="name-input marital-input" value="Single"  name="marital"><label
        for="single"><%= __("Single") %></label>
<br/>
<input ng-model="user.marital" id="married" type="radio" class="name-input marital-input" value="Married" name="marital"><label
        for="married"><%= __("Married") %></label>
    <br/>
<input ng-model="user.marital" id="divorced" type="radio" class="name-input marital-input" value="Divorced" name="marital"><label
        for="divorced"><%= __("Divorced") %></label>

<div class="yellow-button" ui-sref="int.disabled"><%= __("Continue") %></div>