<p ng-hide="interviewCompleted.income && interviewCompleted.household &&
                                    interviewCompleted.income && interviewCompleted.expenses">Answering more questions now will make your interview shorter. Fill out some answers below.</p>
<p ng-show="interviewCompleted.income && interviewCompleted.household &&
                                    interviewCompleted.income && interviewCompleted.expenses">Great! You've saved yourself at least 20 minutes on your phone
    interview, by answering more questions!</p>

<div class="yellow-button" ui-sref="upload.documents" ng-hide="interviewCompleted.income && interviewCompleted.household &&
                                    interviewCompleted.income && interviewCompleted.expenses">Submit what I have so far</div>
<div class="yellow-button" ui-sref="upload.documents" ng-show="interviewCompleted.income && interviewCompleted.household &&
                                    interviewCompleted.income && interviewCompleted.expenses">Submit</div>

<div class="question-sections">
    <div class="question-section" ng-class="{'finished': interviewCompleted.eligibility}"
         ui-sref="int.ssn">
        <span>1</span>
        <h2>Eligibility</h2>
        <p>5 mins</p>
    </div>
    <div class="question-section even" ng-class="{'finished': interviewCompleted.household}"
            ui-sref="int.household">
        <span>2</span>
        <h2>Household</h2>
        <p>10 mins</p>
    </div>
    <div ng-hide="user.income" class="question-section" ng-class="{'finished': interviewCompleted.income}"
         ui-sref="int.income-frequency">
        <span>3</span>
        <h2>Income</h2>
        <p>5 mins</p>
    </div>
    <div ng-show="user.income" class="question-section" ng-class="{'finished': interviewCompleted.income}"
         ui-sref="int.income-household-frequency">
        <span>3</span>
        <h2>Income</h2>
        <p>5 mins</p>
    </div>
    <div class="question-section even" ng-class="{'finished': interviewCompleted.expenses}"
            ui-sref="int.resources">
        <span>4</span>
        <h2>Expenses</h2>
        <p>5 mins</p>
    </div>
</div>
