<h1>Does anyone live in a medical or long term care facility or have a physical, 
    mental or emotional health condition that causes limitations
    in activities (like bathing, dressing, daily chores, etc.)?</h1>

<input ng-click="updateCurrentAndGoToNext('int.medical-lt-care', 'int.medical-unpaid')" ng-model="user.medical_lt_care" id="yes_medical_lt_care" type="radio"
       class="name-input marital-input" value="yes" name="medical_lt_care"><label for="yes_medical_lt_care">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.medical-lt-care', 'int.medical-unpaid')" ng-model="user.medical_lt_care" id="no_medical_lt_care" type="radio"
       class="name-input marital-input" value="no" name="medical_lt_care"><label for="no_medical_lt_care">No</label>