<h1>How many hours do you work per month?</h1>

<label for="monthly_hours_wk">Hours per Week</label>
<input ng-model="user.formData.hours_wk" id="monthly_hours_wk" type="number" placeholder="40" class="name-input income-input" name="weekly_hours">

<label for="weeks_monthly">Weeks per Month</label>
<input ng-model="user.formData.wk_month" id="weeks_monthly" type="number" placeholder="4" class="name-input income-input" name="weeks_monthly">
        
<div class="yellow-button" ui-sref="int.income-household-amount">Continue</div>