<h1>{{ title }}</h1>

<input ng-model="model_for_route[data_name]" ng-click="show_input = true" id="data_name_yes" type="radio" class="name-input marital-input" value="yes" name="{{ data_name }}"><label
        for="data_name_yes">Yes</label>
<br/>
<input ng-model="model_for_route[data_name]" ng-click="updateCurrentAndGoToNext('int.{{ route_name }}', 'int.{{ to_route_name }}')"
       id="data_name_no" type="radio" class="name-input marital-input" value="no" name="data_name">
        <label for="data_name_no" >No</label>
<br/>
<div ng-show="show_input || model_for_route[route_name]=='yes' ">
    <p>Who?</p>

    <input type="text" ng-model="model_for_input[data_name_input]" ng-required="true" id=generic_input" name="generic_input"/>

    <div ng-hide="interviewForm.generic_input.$valid" ng-click="debug();" class="yellow-button disabled">Continue</div>
    <div ng-show="interviewForm.generic_input.$valid" class="yellow-button" ng-click="updateCurrentAndGoToNext('int.{{ route_name }}', 'int.{{ to_route_name }}')">Continue</div>
</div>