<div class="page-header step-two">

    <div class="back-button" ng-click="goBack()"></div>
    <div class="header">
        <h3>Step 2 of 3</h3>
        <h4>Interview</h4>
    </div>
    <div class="progress" ng-show="show_interview_progress">
        <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
        </div>
    </div>
</div>


<form name="interviewForm" id="interview-form" novalidate>
    <!-- our nested state views will be injected here -->
    <div class="form-wrapper" ui-view></div>
</form>


