		<p>Answer more questions to complete more of your applications. You will have shorter interview and a heads up on what documents to bring.</p>
		<div class="yellow-button">Submit what I have</div>
		<div class="question-sections">
			<div class="question-section finished">
				<span>1</span>
				<h2>Eligibility</h2>
				<p>5 mins</p>
			</div>
			<div class="question-section">
				<span>2</span>
				<h2>Household</h2>
				<p>10 mins</p>
			</div>
			<div class="question-section">
				<span>3</span>
				<h2>Income</h2>
				<p>5 mins</p>
			</div>
			<div class="question-section">
				<span>4</span>
				<h2>Expenses</h2>
				<p>5 mins</p>
			</div>
		</div>