<h1>Household members relationship to YOU?</h1>

<div ng-repeat="person in user.household_members track by $index" class="household-relation" ng-show="person.applying">
    <label for="relation_{{ $index }}">What is {{ person.name }}'s relationship to you?</label>
    <select name="relationship" id="relation_{{ $index }}" ng-model="person.relation" ng-options="opt as opt.relation for opt in relationshipOptions"></select>
</div>

<div class="yellow-button" ng-click="$emit('int-main', 'household')" ui-sref="int.main">Continue</div>

