<div class="page-header step-two">

    <div class="back-button" ng-click="goBack()"></div>
    <div class="header">
        <h3>Step 2 of 3</h3>
        <h4>Interview</h4>
    </div>
    <div class="progress" ng-show="show_interview_progress">
        <div class="progress-bar"  ng-style="{ width: int_progress +'%'}">
        </div>
    </div>
    <h1>Ace your interview!</h1>
    <p>Answering your interview questions in advance will make your phone interview shorter.</p>
    <h1>Great! You're done!</h1>
    <div class="estimate">
        <div class="time-estimate">
            <h1 class="finish">45<span>min</span></h1>
            <h2>Estimated interview</h2>
        </div>
        <div class="benefit-estimate">  
            <h1>$132</h1>
            <h2>Estimated benefit</h2>
        </div>
        <div class="clear"></div>
    </div>
</div>


<form name="interviewForm" id="interview-form" novalidate>
    <!-- our nested state views will be injected here -->
    <div class="form-wrapper" ui-view></div>
</form>


