<h1>List all resources that you and those you are applying with have.</h1>
<p>For example: Cash, money in checking and savings accounts, US Savings Bonds, Stocks and Bonds, Trust fund, IRA, 401K, Certificates of Deposit</p>

<div ng-repeat="item in user.resources track by $index" class="resources-list">
        <div style="width:5%">{{ $index+1 }}.</div>
        <div>{{ item.person_name }}</div>
        <div>{{ item.type }}</div>
        <div>{{ item.amount }}</div>
        <div>{{ item.location }}</div>

</div>

<br/>

<label for="resource_name">Name of Person with Resource</label>
<input type="text" name="resource_name" id="resource_name" class="name-input resources-input" ng-model="current_resource_name"/>
<br/>
<label for="resource_kind">Kind of resource</label>
<input type="text" name="resource_kind" id="resource_kind" class="name-input resources-input" ng-model="current_resource_kind"/>
<br/>
<div class="input-group dollar-input">
    <input id="total_resources" type="number" class="name-input resources-input" name="total_resources" ng-model="current_resource_amount">
</div>
<label for="resource_location">Where is this resource located?</label>
<input type="text" name="resource_location" id="resource_location" class="name-input resources-input" ng-model="current_resource_location"/>

<div class="yellow-button" style="background-color:#07a7fc" ng-click="addResource();">Add Resource</div>


<div class="yellow-button" ng-click="updateCurrentAndGoToNext('int.resources','int.resources-expecting-money')">Continue</div>
