<h1>Is anyone in the U.S. military, or has anyone been in the U.S. military?</h1>

<input ng-click="updateCurrentAndGoToNext('int.in-military', 'int.in-military-family')" ng-model="user.in_military" id="yes_in_military" type="radio"
       class="name-input marital-input" value="yes" name="in_military"><label for="yes_in_military">Yes</label>
<br/>
<input ng-click="updateCurrentAndGoToNext('int.in-military', 'int.in-military-family')" ng-model="user.in_military" id="no_in_military" type="radio"
       class="name-input marital-input" value="no" name="in_military"><label for="no_in_military">No</label>
